body {
  background-color: rgb(26, 26, 26);
  font-family: system-ui;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin: 5px;
}

h3 {
  text-align: center;
  color: rgb(223, 223, 223);
  font-weight: 100;
  margin: 0px;
  font-size: 15px;
}

svg {
  display: block;
}

.flex {
  display: flex;
}

.box {
  padding: 20px;
  height: 300px;
  width: 450px;
  margin-top: 10px;
}

.box h2 {
  margin: 10px 0px;
  font-size: 18px;
}

.box p,
.box li {
  font-size: 15px;
  margin: 5px;
}

ul {
  margin: 0px;
  /* padding-left: 50px; */
}

span {
  text-transform: uppercase;
  color: rgb(252, 167, 114);
  padding: 1px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

#state {
  background-color: rgb(227, 75, 51);
  color: white;
}

#state-mass {
  width: 75px;
}

#state-count {
  width: 35px;
}